@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/roboto-mono-300.ttf") format("truetype");
  font-weight: 300; //light
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/roboto-mono-500.ttf") format("truetype");
  font-weight: 500; //medium
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/roboto-mono-regular.ttf") format("truetype");
  font-weight: 400; //regular
  font-style: normal;
}
