@import "../../assets/styles/sass-recources.scss";

.app {
  font-family: "Roboto Mono";
  font-size: 14px;

  h3 {
    text-align: center;
    margin-top: 30px;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  @include centralize;
}

.productCard {
  border-radius: 0;
}

.productElement {
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.productInformation {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &:hover {
    opacity: 0.5;
  }
}

.productName {
  font-weight: 500;
}

.productPrice {
  font-weight: 500;
  color: $primary;
  margin-top: 10px;
}

$imageHeight: 250px;

.productImageOverlay {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: $imageHeight;
  background-color: $dark;
}

.productImage {
  @include backgroundImage;
  transition: ease 0.5s all;

  &:hover {
    transform: scale(1.2);
    opacity: 0.5;
    cursor: pointer;
  }
}

.productNoPhoto {
  @include centralize;
  width: 100%;
  height: $imageHeight;
}
